<br>
<div class="row" fxLayout="row" fxLayoutGap="20px">
    <div fxFlex.gt-sm="20">
        <mat-checkbox (click)="onHrm()">HRM ROLE</mat-checkbox>
    </div>
    <div fxFlex.gt-sm="20">
        <mat-checkbox (click)="onScm()">SCM ROLE</mat-checkbox>
    </div>
    <div fxFlex.gt-sm="20">
        <mat-checkbox (click)="onOperation()">OPERATION ROLE</mat-checkbox>
    </div>
    <div fxFlex.gt-sm="20">
        <mat-checkbox (click)="onProject()">PROJECT ROLE</mat-checkbox>
    </div>
    <div fxFlex.gt-sm="20">
        <mat-checkbox (click)="onSecurity()">SECURITY ROLE</mat-checkbox>
    </div>
</div>
<div class="row" fxLayout="row" fxLayoutGap="20px">
    <div fxFlex.gt-sm="20">
        <mat-checkbox (click)="onAdmin()">ADMIN ROLE</mat-checkbox>
    </div>
    <div fxFlex.gt-sm="20">
        <mat-checkbox (click)="onIt()">IT ROLE</mat-checkbox>
    </div>
    <div fxFlex.gt-sm="20">
        <mat-checkbox (click)="onAviation()">AVIATION ROLE</mat-checkbox>
    </div>
    <div fxFlex.gt-sm="20"></div>
    <div fxFlex.gt-sm="20"></div>
</div>
<br>