<div *ngIf="!loggedIn" class="row">
  <h4>Not Signed In</h4>
  <br />
  <button mat-raised-button (click)="signInWithGoogle()"><i class="fa fa-google fa-2x"></i> Google</button>
  <button mat-raised-button (click)="signInWithFB()"><i class="fa fa-facebook fa-2x" style="color:blue;"></i> Facebook</button>
</div>

<div class="loggedIn">
  <h4>Signed in Successfully</h4>

  <!-- <img *ngIf="user.photoUrl" src="{{ user.photoUrl }}" /> -->
  <div> 
    <h4>{{ user?.name }}</h4>
    <p>{{ user?.email }}</p>
    <p>Logged in with {{ user?.provider }}</p>
  </div>
</div>
