<mat-toolbar color="success">
  <span>Placement Brochure</span>
  <span fxFlex></span>
  <button mat-button href="#" mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <button mat-button href="#" mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<div class="row">
  <div fxLayout="row wrap">
    <div fxFlex.gt-lg="66" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100">
      <app-image-slider></app-image-slider>
    </div>

    <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
      <app-tri-services></app-tri-services>
    </div>
  </div>
</div>

<app-candidate-list></app-candidate-list>
