<mat-card>
    <div class="p-10 bg-info position-relative">
      <h4 class="card-title text-white m-0">Education
        <button mat-mini-fab (click)="addEducation(education)"><mat-icon>add</mat-icon></button>
      </h4>
    </div>
    <div *ngIf="education" class="message-box contact-box p-20">
      <div class="message-widget contact-widget">
        <div *ngFor="let edu of education">
          {{ edu.qualification }} - {{edu.institute}} - {{edu.year}} &nbsp; 
          <mat-icon (click)="onUpdate(edu)">update</mat-icon>
        </div>
      </div>
    </div>
  </mat-card>
  