<div class="pk1">
    <mat-card>
        <mat-card-content>
            <div class="text-center">
                <!-- <fa-icon [icon]="faLock" class="fa-3x"></fa-icon> -->
                <mat-icon>lock</mat-icon>
            </div>
            <div class="text-center">
                <h2>Forgot Password</h2>
            </div>
            <p class="pkt1">Please enter your registered email where<br> we will send you the reset password link</p>
            
            <form [formGroup]="resetform">
                <mat-form-field>
                    <input matInput type="email" placeholder="Email Address" formControlName="email" />
                </mat-form-field>
            </form>
           
            <button mat-raised-button color="primary" (click)="onreset()"> send reset link </button>


            <div class="card-footer text-right">
                <small style="float: left;">I remember the password </small> 
                <small style="float: right;"> <a routerLink="../login">Back to Login</a></small>
            </div>

            <br><br><br>
        </mat-card-content>
    </mat-card>
</div>
              