<mat-card>
  <div class="p-10 bg-info position-relative">
    <h3 class="card-title text-white m-0">Roles/Function Preference</h3>
    <p class="text-white m-0">Please Select the role your would like to prefer</p>
  </div>
  
  <mat-card-content>
    <div class="row" fxLayout="row" fxLayoutGap="20px">
      <div fxFlex.gt-sm="20">
        <mat-checkbox (click)="onHrm()">HRM</mat-checkbox>
      </div>
      <div fxFlex.gt-sm="20">
        <mat-checkbox (click)="onScm()">SCM</mat-checkbox>
      </div>
      <div fxFlex.gt-sm="20">
        <mat-checkbox (click)="onOperation()">OPERATION MGMT</mat-checkbox>
      </div>
      <div fxFlex.gt-sm="20">
        <mat-checkbox (click)="onProject()">PROJECT MGMT</mat-checkbox>
      </div>
      <div fxFlex.gt-sm="20">
        <mat-checkbox (click)="onSecurity()">SECURITY</mat-checkbox>
      </div>
    </div>
    <div class="row" fxLayout="row" fxLayoutGap="20px">
      <div fxFlex.gt-sm="20">
        <mat-checkbox (click)="onAdmin()">ADMINISTRATION</mat-checkbox>
      </div>
      <div fxFlex.gt-sm="20">
        <mat-checkbox (click)="onIt()">IT</mat-checkbox>
      </div>
      <div fxFlex.gt-sm="20">
        <mat-checkbox (click)="onAviation()">AVIATION</mat-checkbox>
      </div>
      <div fxFlex.gt-sm="20">
        <mat-checkbox (click)="onHospitalAdmin()">HOSPITAL ADMIN</mat-checkbox>
      </div>
      <div fxFlex.gt-sm="20"><mat-checkbox (click)="onQaQc()">QA / QC</mat-checkbox></div>
    </div>
    <div class="row" fxLayout="row" fxLayoutGap="20px">
      <div fxFlex.gt-sm="20">
        <mat-checkbox (click)="onFinance()">FINANCE</mat-checkbox>
      </div>
      <div fxFlex.gt-sm="20">
        <mat-checkbox (click)="onEducation()">EDUCATION ORG</mat-checkbox>
      </div>
      <div fxFlex.gt-sm="20">
        <mat-checkbox (click)="onStrategy()">STRETEGY MGMT</mat-checkbox>
      </div>
      <div fxFlex.gt-sm="20">
        
      </div>
      <div fxFlex.gt-sm="20"></div>
    </div>

    <div class="row" fxLayout="row" fxLayoutGap="20px">
      <div fxFlex.gt-sm="30">
        <mat-checkbox (click)="onTechnical()">TECHNICAL CONTENT WRITING</mat-checkbox>
      </div>
      <div fxFlex.gt-sm="30">
        <mat-checkbox (click)="onBlockChain()"
          >IOT/BLOCK CHAIN/DATA SCIENCES</mat-checkbox
        >
      </div>
      <div fxFlex.gt-sm="20">
        <mat-checkbox (click)="onLegal()">LEGAL COMPLIANCE</mat-checkbox>
      </div>

      <div fxFlex.gt-sm="20">
        <button mat-raised-button color="warn" (click)="onSubmit()">
          Update
        </button>
      </div>
    </div>

    <br />
  </mat-card-content>
</mat-card>
