<mat-toolbar color="primary" style="border-radius: 5px">
  <span> Candidate Data Entry Dashboard</span>
</mat-toolbar>
<mat-card class="oh little-profile">
  <img
    mat-card-image
    src="assets/images/background/profile-bg.jpg"
    alt="Photo of a Shiba Inu"
    height="100px"
  />
  <mat-card-content>
    <div class="pro-img">
      <img
        src="assets/images/users/4.jpg"
        width="100"
        alt="user"
        class="img-circle"
      />
    </div>
    <h3 class="m-b-0">{{ candidate.name | uppercase }}</h3>
    <a href="{{ candidate.linkedIn }}" class="m-t-0"
      >LinkedIn : {{ candidate.linkedIn }}</a
    >
    <mat-card-actions>
      <button mat-raised-button color="warn">One Pager</button>
      <button mat-raised-button color="primary">Resume</button>
    </mat-card-actions>
    
  </mat-card-content>
</mat-card>

<div class="row">
  <div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex.gt-md="15%" fxFlex.gt-lg="100%" fxFlex="100">Picture</div>
    <div fxFlex.gt-md="28%" fxFlex.gt-lg="100%" fxFlex="100">
      <app-blank-card
        [header]="'Certifications'"
        [items]="awards"
      ></app-blank-card>
    </div>
    <div fxFlex.gt-md="28%" fxFlex.gt-lg="100%" fxFlex="100">
      <app-blank-card
        [header]="'Certifications'"
        [items]="awards"
      ></app-blank-card>
    </div>
    <div fxFlex.gt-md="28%" fxFlex.gt-lg="100%" fxFlex="100">
      <app-blank-card
        [header]="'Technical Skills Set'"
        [items]="awards"
      ></app-blank-card>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex.gt-md="33.33%" fxFlex.gt-lg="100%" fxFlex="100">
      <app-compeducation-card [education]="education"></app-compeducation-card>
      <hr />
      <app-cert-card [certifications]="certifications"></app-cert-card>
      <hr/>
      <app-award-card [awards]="awards"></app-award-card>
      <hr />
      <app-blank-card
        [header]="'Techincal Skill Set'"
        [items]="awards"
      ></app-blank-card>
    </div>
    <div fxFlex.gt-md="66.66%" fxFlex.gt-lg="100%" fxFlex="100">
      <p>{{ candidate.introduction }}</p>
        <hr />
      <app-blank-card [header]="'Experience'" [items]="awards"></app-blank-card>
    </div>
  </div>
</div>
