.dataFormat {
    /* line-height: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(138, 43, 226, 0.9);
    text-align: justify;
    text-justify: inter-word; */
}

.mat-card-style{
    background-color: antiquewhite;
}