
<div class="row">
    <div class="error-template">
        <h1>
            Oops!</h1>
        <h2>
            404 Not Found</h2>
        <div class="error-details">
            Sorry, an error has occured, Requested page not found!
        </div>
        <mat-error>
            <a routerLink="/" ><span><mat-icon>home</mat-icon></span>
                Take Me Home </a><a routerLink="/" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
        </mat-error>
    </div>
</div>
